{{ bos_token }}
{%- for message in messages -%}
    {%- if message['role'] == 'system' -%}
        {{ '<start_of_turn>user\n' + message['content'] | trim + '<end_of_turn>\n' }}
    {%- elif message['role'] == 'user' -%}
        {{ '<start_of_turn>user\n' + message['content'] | trim + '<end_of_turn>\n' }}
    {%- elif message['role'] == 'tool' -%}
        {{ '<start_of_turn>user\n<tool_result>\n' + message['content'] | trim + '\n</tool_result><end_of_turn>\n' }}
    {%- elif message['role'] == 'assistant' or message['role'] == 'model' -%}
        {% generation %}
        {{ '<start_of_turn>model\n' }}
        {%- if message['content'] -%}
            {{ message['content'] | trim }}
        {%- endif -%}
        {%- if message['tool_calls'] -%}
            {%- for tool_call in message['tool_calls'] -%}
                {{ '\n<tool_call>{"name": "' + tool_call['function']['name'] + '", "arguments": ' + tool_call['function']['arguments'] | string + '}</tool_call>' }}
            {%- endfor -%}
        {%- endif -%}
        {{ '<end_of_turn>\n' }}
        {% endgeneration %}
    {%- endif -%}
{%- endfor -%}